  <!--==========================
    Intro Section
  ============================-->
    
      <!-- --before login navbar start-- -->
      <div class="container" style="padding-top:120px;" ng-app="myApp" ng-controller="myCtrl" class="container-fluid">
        <form class="form-horizontal resetpassword" name="RegistrationForm" ng-submit="request.$valid" novalidate>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="box-grid-bg">
                        <div class="data-title-main p-2">
                            <div class="row align-items-center">
                                <div class="col-md-9 col-6">
                                    <div class="data-title pl-2 mt-1 pt-1">
                                        TechnoSwift IT Solution Refund Policy
                                    </div>
                                </div>
                                <div class="col-md-3 col-6">
                                  
                                </div>
    
    
    
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <br/>
    <strong><h5>General</h5></strong>
    <hr>
    <p><b>1)</b> If the Refund request is reported to us through email / website within 7 days of purchase and we will give you 100% money back.</p>
    <p><b>2)</b> The refund request should be raised via email or website.</p>
    <p><b>3)</b> Refund policies will be applicable only for purchases equal to or more than 1 year</p><br>
          
                                
                           
                                
                            </div>
    
                        </div>
                        
                            <div class="col-md-9 col-12">
                               
    
                            </div>
                            <div class="col-md-3 col-12">
                                
                            </div>
    
                        </div>
                       
                    </div>
    
    
                </div>
        </form>
    </div>