  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>SalesBook<br> for Your <span>Business!</span></h2>
          <div>
            <a [routerLink]="['/registercompany']" class="btn-get-started scrollto">Get Registered</a>
          </div>
		  <div style="margin-top:25px">
            <a href="PartnerUser.html" class="btn-get-started scrollto">JOIN Us as a Partner</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="../assets/img/intro-img.svg" alt="Create Invoice" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
		   <h2>Product Demo</h2>
            <iframe width="420" height="345" src="https://www.youtube.com/embed/l37uLc9F_D0">
</iframe>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3>SalesBook Bill is a easy to use Software for managing inventory and payment flow</h3>
              <p>SalesBook is a Business Accounting Software made for Indian Small Businessmen to deal with invoicing, inventory, accounting needs, and much more! The goal is to make a businessman’s daily routine less tiring and let them focus more on growing their business, less on paperwork</p>
              <h2>Small/Medium Business (SME)</h2>
              
			  <p>Even today, 70% SMEs in India still create bills on paper. Being that, most of their productive time is consumed in making manual entries and calculations. When small things go wrong, the entire business goes down, simply because there is no place to fall back. Not having the resources can really wear out the business owner driving them away from doing what matters most. Small Business Accounting needs a Digital Upgrade. An upgrade that is simple yet effcient. We are trying to bring in a simpler solution that works for them and hence Amazing Sell Bill!</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> <h1>Easy to Create GST Bill</h1></li>
                <li><i class="ion-android-checkmark-circle"></i> <h1>Maintain Payment Records</h1></li>
                <li><i class="ion-android-checkmark-circle"></i> <h1>Easy access to payment bill & Analyse product sell</h1></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>30 Days Trail GST Billing Software & App for Small Businesses</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Send Estimate & Quotations</a></h4>
              <p class="description">
			  <div class="module line-clamp">
                <p>Create estimates and quotes with this free GST accounting software, share detailed costs & taxes with customers in a few clicks! Unlike other free GST bill book App, with this free GST invoice and free billing software for mobile, convert your estimate to the bill in just one click.

				Unlike other billing and accounting software, you get all these capabilities in this GST free billing app. SalesBook product makes your business look super professional and ensures your customers keep coming back. Start using this GST software for accounting today! Estimates & Quotations created using this GST Billing Software are not just accurate but instant as well. Start creating estimates, quotations and GST invoice with this free billing software for mobile and desktop.</p>
              </div>
			  <a href="#" class="trackorder" style="pointer:cursor;">Show More</a> 
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Track Orders</a></h4>
              <p class="description">
			  <div class="module line-clamp">
                <p>Create and track sale/purchase orders end-to-end with this GST mobile billing app. Get timely reminders to dispatch them & close deals without troubles. Fulfil all your orders effortlessly using this billing and accounting software. Generate bills in a single click for your orders with this free billing software.

				Unlike other free GST Bill Book App, SalesBook product
				provides you with multiple GST Sale orders and purchase order formats to choose from. This GST software for accounting helps you save time and focus on growing your business to the next level. Start using this free billing software and do your business accounting effortlessly.   
				</p>
              </div>
			  <a href="#" class="trackorder" style="pointer:cursor;">Show More</a> 
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Choose Themes</a></h4>
              <p class="description">
			  <div class="module line-clamp">
                <p>Your Invoice Is Your Brand's Identity. Pick professional tax invoice format from multiple formats including tally themes from this GST tax invoice software. Impress customers with professional business bills generated from this billing and accounting software. This GST software for accounting provides you with a specific GST invoice format and proforma invoice format specialized for your business need.

				Vyapar is the best free billing software for running your business professionally. Our customers use Vyapar’s best free billing software for retail shops, medical store, pharmaceutical business, restaurants, gyms, distribution, trading and more such businesses.</p>
              </div>
			  <a href="#" class="trackorder" style="pointer:cursor;">Show More</a> 
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Record Expenses</a></h4>
              <p class="description">
			  <div class="module line-clamp">
                <p>Your business runs on money. Make sure you track it well using this best billing and accounting software. Keeping track of your business-related purchases will save you time during tax filing.

				Record/Track Expenses as they Happen! This is the best GST software for accounting to track all the money spent and to create reports. By recording expenses, you can optimize your business expenditure and save money which can be used to grow your business using this GST accounting software.

				This free GST invoice app also helps you enter the GST bill format of expenses, that can be used for claiming the input tax credit. By recording expenses using this GST software for accounting, you can optimize your business expenditure and save money. What’s more, it will save you a lot of time during tax filing.</p>
              </div>
			  <a href="#" class="trackorder" style="pointer:cursor;">Show More</a> 
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Receivables and Payable</a></h4>
              <p class="description">
			  <div class="module line-clamp">
                <p>Keep your cashbook complete effortlessly by using this free billing and accounting software. Keep track of the total money you ‘have to receive’ and the total money you ‘need to pay’ using Vyapar software. In just a click, find who hasn’t paid you yet. Set payment reminders to collect payment from customers on time.

				Keep your focus on billing and inventory of your business and let Vyapar (the GST software free download) manage your receivables and payables. Your Ledger account book is automatically generated based on the transactions entered. Download GST billing software free of cost and grow your business faster!   
			  </p>
              </div>
			  <a href="#" class="trackorder" style="pointer:cursor;">Show More</a> 
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">Delivery Challan</a></h4>
              <p class="description">
			  <div class="module line-clamp">
                <p>Get acknowledgement upon delivery with “Delivery Challan” of Vyapar. Create delivery challans and attach them with your consignment using this GST App. Easily ensure that your goods have reached customers safely. Not all your goods are accepted by customers. They get returned too! Get to know what’s accepted & what’s not.

				Convert your delivery challans to bills and share easily with your customers and parties with this free billing software. Also, maintain delivery acknowledgement records and see what is accepted or returned by your customers. Run complete business easily with this GST accounting software free. Converting your delivery challans is one step in this free billing software. </p>
              </div>
			  <a href="#" class="trackorder" style="pointer:cursor;">Show More</a> 
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>Your Business need to be maintained</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="../assets/img/why-us.jpg" alt="Free Invoice" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <p>We are into account system</p>
              <p>
                Our product gives us an opportunity to maintain your invoices,expenses in a efficient way

             </p>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>Invoice</h4>
                <p>You can create an invoice, customize your bill in a easy way</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>Employee Management</h4>
                <p>You can manage your employee sallary their allowance</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-language" style="color: #589af1;"></i>
                <h4>Track Data</h4>
                <p>It will gives opportunity to track data of your past & present.</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-11.jpg" class="testimonial-img" alt="Tally">
                <h3>Tanveer Khan</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Our focus is to bring the business accounting to Cloud & apply simply to use.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-21.jpg" class="testimonial-img" alt="Billing">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  SalesBook will give user friendly experience.
                </p>
              </div>
    
             
            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../assets/img/dummy.jpg" class="img-fluid" alt="Sales Bill">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Khan Tanveer</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../assets/img/dummy.jpg" class="img-fluid" alt="Tally">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Maaz Khan</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../assets/img/dummy.jpg" class="img-fluid" alt="GST Bill">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Shabroz Ahmed</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../assets/img/dummy.jpg" class="img-fluid" alt="Account Software">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Aftab Khan</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

  </main>
